<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->







<div class="col-md-6 offset-md-3 mt-5 container-fluid">
<form action="/admin/edit-product/<%=product._id%>" method="post" enctype="multipart/form-data">
<fieldset>

<!-- Form Name -->
<legend>EDIT PRODUCT</legend>

<!-- Text input-->


<!-- Text input-->
<div class="form-group">
  <label  for="exampleFormControlSelect1">DISH NAME</label>  

  <input id="product_name" name="name" value="<%=product.name%>" class="form-control input-md" required="" type="text">
    

</div>



<div class="form-group">
  <label for="exampleFormControlSelect1" >PRODUCT CATEGORY </label>

  <select   class="form-control" id="category" name="category" required>
      <% categories.forEach(category => { %>
          <option value="<%= category._id %>" <%= product.category && product.category.equals(category._id) ? 'selected' : '' %>><%= category.name %></option>
      <% }); %>
  </select>

</div>

<!-- Text input-->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="product_name_fr">PRODUCT CATEGORY </label>  
  <div class="col-md-4">
  <input id="product_name_fr" name="category" value="<%= product.category ? product.category.name : '' %>" class="form-control input-md" required="" type="text">
    
  </div>
</div> -->

<!-- Select Basic -->


<!-- Textarea -->
<div class="form-group">
    <label  for="exampleFormControlSelect1">DESCRIPTION</label>
                         
      <textarea class="form-control" id="category_description" value="<%=product.description%>" name="description"></textarea>
 
  </div>


  <div class="form-group">
    <label for="exampleFormControlSelect1" class="col-md-4 control-label">TYPE</label>
    <div class="col-md-6">
      <div>
        <input type="radio" name="typeOfDish" value="Veg" <% if (product.typeOfDish === "Veg") { %>checked<% } %>>
        <label for="veg">Veg</label>
    </div>
  
    <div >
        <input type="radio" name="typeOfDish" value="Non-Veg" <% if (product.typeOfDish !== "Veg") { %>checked<% } %>>
        <label for="nonveg">Non-Veg</label>
    </div>
</div>
</div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="exampleFormControlSelect1">QUANTITY </label>  
  
    <input id="stock_alert" name="quantity" value="<%=product.quantity%>" class="form-control input-md" required="" type="text">
      
   
  </div>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="exampleFormControlSelect1">STOCK </label>  
    
    <input id="stock_alert" name="stock"  value="<%=product.stock%>" class="form-control input-md" required="" type="text">
      
    
  </div>
<!-- Text input-->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="available_quantity">AVAILABLE QUANTITY</label>  
  <div class="col-md-4">
  <input id="available_quantity" name="available_quantity" placeholder="AVAILABLE QUANTITY" class="form-control input-md" required="" type="text">
    
  </div>
</div> -->

<!-- Text input-->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="product_weight">SIZE</label>  
  <div class="col-md-4">
  <input id="product_weight" name="size" value="<%=product.size%>" class="form-control input-md"  type="text">
    
  </div>
</div> -->



<!-- Textarea -->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="product_name_fr">PRODUCT DESCRIPTION FR</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="product_name_fr" name="product_name_fr"></textarea>
  </div>
</div> -->
<div class="form-group">
    <label class="col-md-4 control-label" for="exampleFormControlSelect1">PRICE</label>  
   
    <input id="comment" name="price" value="<%=product.price%>" class="form-control input-md"  type="text">

  </div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="exampleFormControlSelect1">PERCENTAGE DISCOUNT(OFFER)</label>  

  <input id="percentage_discount" name="offer" value="<%=product.offer%>" class="form-control input-md"  type="text">
    
 
</div>

<!-- Text input-->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="stock_alert">STOCK ALERT</label>  
  <div class="col-md-4">
  <input id="stock_alert" name="stock_alert" placeholder="STOCK ALERT" class="form-control input-md" required="" type="text">
    
  </div>
</div> -->

<!-- Search input-->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="stock_critical">STOCK CRITICAL</label>
  <div class="col-md-4">
    <input id="stock_critical" name="stock_critical" placeholder="STOCK CRITICAL" class="form-control input-md" required="" type="search">
    
  </div>
</div> -->

<!-- Search input-->


<!-- Text input-->


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="exampleFormControlSelect1">RATING (OUT OF 5)</label>  
 
  <input id="approuved_by" name="rating" value="<%=product.rating%>" class="form-control input-md"  type="text">
    

</div>

<hr />
 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="image">Uplaod and update image :</label>
  <div class="col-md-4">
    <%if (product.image){%>
    <img src="/assetsimages/dish/<%= product.image %>" id="displayimg" alt="Product Image" style="max-width: 100px;">
    <% } %>
    <!-- Image preview container -->
    <img id="previewImage" src="" alt="Image Preview" style="max-width: 100px; display: none;" style="max-width: 100px;">
     <!-- File input for uploading a new image -->
    <input id="img" name="image" class="input-file" type="file" accept="image/*">

       


  </div>
</div>
<hr />
<!-- File Button --> 
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">AUXILIARY IMAGES</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div> -->

<!-- Button -->
<div class="form-group">
  <!-- <label class="col-md-4 control-label" for="singlebutton">Single Button</label> -->
  <div class="col-md-4">
    <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary">Submit</button>
  </div>
  </div>

</fieldset>
</form>
</div>

<script>
    const categorySelect=document.querySelector('select[name="category"]');
    const categoryDescription=document.querySelector('#category_description');

    categorySelect.addEventListener('change',(event)=>{
        const selectedCategoryId=event.target.value;
        console.log(selectedCategoryId);
        const selectedCategory=categories.find(category=>category._id=== selectedCategoryId);
        console.log(selectedCategory);

        if(selectedCategory){
            categoryDescription.value=selectedCategory.description;

        }else{
            categoryDescription.value='';
        }
    });

</script>


<script>
  const imgInput = document.getElementById('img');
  const previewImage = document.getElementById('previewImage');

  imgInput.addEventListener('change', function (event) {
      const selectedFile = event.target.files[0];

      if (selectedFile) {
          const reader = new FileReader();

          reader.onload = function (e) {
              previewImage.src = e.target.result;
              previewImage.style.display = 'block';
              displayimg.style.display='none';
          };

          reader.readAsDataURL(selectedFile);
      }
  });
</script>
