<section class="main-banner" id="home">
  <div class="sec-wp">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="sec-title text-center mb-5">
            <a href="/"> <p class="sec-sub-title mb-3">Back To Home</p></a>
            <h2 class="h2-title">Checkout</h2>
            <div class="sec-title-shape mb-4">
              <img src="/assetsimages/title-shape.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="text-end">
                <!-- Button to add a new address -->
                <button onclick="showNewAddressForm()">Add New Address</button>
              </div>
              <h2>Your Addresses</h2>
              <hr />
              <ul>
                <% for (const address of userAddresses) { %> <% for (const
                detail of address.details) { %>
                <li>
                  <p>City: <%= detail.city %></p>
                  <p>Apartment: <%= detail.apartment %></p>
                  <p>Building: <%= detail.building %></p>
                  <p>Flat: <%= detail.flat %></p>
                  <p>Pincode: <%= detail.pincode %></p>
                  <p>Landmark: <%= detail.landmark %></p>
                </li>

                <label>
                  <input
                    type="radio"
                    name="selectaddress"
                    id="address_<%= detail._id %>"
                    value="<%= detail._id %>"
                    onclick="handleAddressSelection()"
                  />
                  Select delivery address
                </label>
                <hr />
                <% } %> <% } %>
              </ul>
            </div>
          </div>

          <div id="cart-items-container">
            <!-- Display the user's cart items here -->
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="text-secondary border-bottom pb-3">Payment Method</h5>
              <div class="border rounded p-2">
                <label>
                  <input type="radio" name="paymentMethod" value="cod" />
                  Cash on delivery
                </label>
                <br />
                <br />
                <label>
                  <input type="radio" name="paymentMethod" value="online" />
                  Online payment
                </label>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="text-secondary border-bottom pb-3">Order Summary</h5>
              <div class="border rounded p-2">
                <div class="d-flex justify-content-between border-bottom">
                  <p class="m-0 p-1">Cart items</p>
                  <p class="m-0 p-1" id="cartItemCount2">Loading..</p>
                </div>
                <div class="d-flex justify-content-between border-bottom">
                  <p class="m-0 p-1">Sub Total</p>
                  <p class="m-0 p-1">
                    &#8377;<span id="cartSubTotal2"
                      ><%= session.cart.totalPrice%></span
                    >
                  </p>
                </div>
                <div class="d-flex justify-content-between border-bottom">
                  <p class="m-0 p-1">Discount</p>
                  <p class="m-0 p-1">&#8377;<span>0</span></p>
                </div>

                <div class="d-flex justify-content-between border-bottom">
                  <p class="m-0 p-1">Total Price</p>
                  <p class="m-0 p-1">
                    &#8377;<span id="cartTotal2"
                      ><%= session.cart.totalPrice%></span
                    >
                  </p>
                </div>
                <p id="cartErr" class="text-danger"></p>
                <!--  <button
                  class="btn w-100 btn-outline-dark"
                  onclick="genCheckout()"
                  id="genCheckoutBTN"
                >
                  PROCEED
                </button>-->
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="text-secondary border-bottom pb-3">Order Summary</h5>
              <div class="border rounded p-2">
                <div class="d-flex justify-content-between border-bottom">
                  <p class="m-0 p-1">Cart items</p>
                  <p class="m-0 p-1" id="cartItemCount2">Loading..</p>
                </div>
                <%for(let product of Object.values(session.cart.items)) {%>
                <div
                  style="width: 50px; height: 50px"
                  class="d-flex justify-content-between border-bottom"
                >
                  <img
                    src="/assetsimages/dish/<%= product.item.image %>"
                    class="img-fluid rounded-3"
                  />
                  <p style="font-size: small" class="m-0 p-1">
                    <%= product.item.name %>
                  </p>

                  <p class="m-0 p-1">
                    &#8377;<span><%= product.item.price %></span>
                  </p>
                </div>
                <hr />
                <% } %>
                <div class="d-flex justify-content-between border-bottom">
                  <p class="m-0 p-1">Total Price</p>
                  <p class="m-0 p-1">
                    &#8377;<span id="cartTotal2"
                      ><%= session.cart.totalPrice%></span
                    >
                  </p>
                </div>

                <p id="cartErr" class="text-danger"></p>
              </div>
            </div>
          </div>

          <div class="card">
          <div class="card-body">
            <a href="/checkout">
              <button
                type="button"
                class="btn btn-warning btn-block btn-lg align-items-center w-100"
              >
                Place Order
              </button>
            </a>
          </div>
        </div>

        </div>
        <div id="newAddressForm" style="display: none;">
        <legend>ADD NEW DELIVERY ADDRESS</legend>
  <form class="form-horizontal" action="/orders" method="post" >
  <div class="form-group">
  
    <div class="col-md-6">
        <form action="/api/updateuserdata" method="post" onsubmit="sendData('emailUpdate'); return false" id="emailUpdateForm">
            <div  class="form-text text-muted">You can't change the city name. (We are delivering our foods within this area.We will expand in future) </div>
            <div class="d-flex mb-3">
                <div class="input-group mb-0 input-group-sm">
                    <input type="email" class="form-control" name="city" id="emailUpdate" aria-label="email"  aria-describedby="basic-addon1" value="Qusais 5 - Dubai - UAE" disabled>
                  </div>
            </div>
        </form>
    </div>
  
  
  <div class="form-group">
    <label for="exampleFormControlSelect1">Your Name</label>
   
        <input id="product_name" name="name" value="<%=user.name%>" class="form-control input-md" required="" type="text">
    
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Your Email</label>
   
        <input id="product_name" name="email" value="<%=user.email%>" class="form-control input-md" required="" type="text">
    
  </div>
  
    
  
  <div class="form-group">
    <label for="exampleFormControlSelect1"> Your Mobile Number</label>
   
        <input id="product_name" name="mobile" value="<%=user.mobile%>" class="form-control input-md" required="" type="text">
    
  </div>
  
  <div class="form-group">
    <label for="formGroupExampleprit">Apartment Name</label>
    <input id="product_name" name="apartment" placeholder="Apartment Name" class="form-control input-md" required="" type="text">
  </div>
  <div class="form-group">
    <label for="formGroupExampleprit">Building Number</label>
    <input id="product_name" name="building" placeholder="Building Number" class="form-control input-md" required="" type="text">
  </div>
  <div class="form-group">
    <label for="formGroupExampleprit">Flat Number</label>
    <input id="product_name" name="flat" placeholder="Flat Number" class="form-control input-md" required="" type="text">
  </div>
  <div class="form-group">
    <label for="formGroupExampleprit">Pin Code - optional</label>
    <input id="product_name" name="pincode" placeholder="Pin code" class="form-control input-md" required="" type="text">
  </div>
  <div class="form-group">
    <label for="formGroupExampleprit">Landmark</label>  
    
    <input id="approuved_by" name="landmark" placeholder="Nearby landmark" class="form-control input-md"  type="text">
  
  <hr />
  
  

  
  <!-- Button -->
  <div class="form-group">
    <!-- <label class="col-md-4 control-label" for="singlebutton">Single Button</label> -->
    <div class="col-md-4">
    <!-- <div class="col-md-4"> -->
      
        <!--<button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary">Submit</button>
       </div> -->
    </div>
    </div>
    <div class="col-lg-4">
  <div class="card">
          <div class="card-body">
            <a href="/checkout">
              <button
                type="button"
                class="btn btn-warning btn-block btn-lg align-items-center w-100"
              >
                Place Order
              </button>
            </a>
          </div>
        </div>
</div>

  </form>
</div>
        <!--<div class="card">
          <div class="card-body">
            <a href="/checkout">
              <button
                type="button"
                class="btn btn-warning btn-block btn-lg align-items-center w-100"
              >
                Place Order
              </button>
            </a>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</section>
<script>
  // Function to handle radio button selection
  function handleAddressSelection() {
    const selectedAddressId = document.querySelector(
      'input[name="selectaddress"]:checked'
    ).value;
    const selectedAddress = document.getElementById(
      `address_${selectedAddressId}`
    );
    const city = selectedAddress.querySelector(".city").innerText;
    const apartment = selectedAddress.querySelector(".apartment").innerText;
    const building = selectedAddress.querySelector(".building").innerText;
    const flat = selectedAddress.querySelector(".flat").innerText;
    const pincode = selectedAddress.querySelector(".pincode").innerText;
    const landmark = selectedAddress.querySelector(".landmark").innerText;

    // Now you have access to the selected address details
    console.log("Selected City:", city);
    console.log("Selected Apartment:", apartment);
    console.log("Selected Building:", building);
    console.log("Selected Flat:", flat);
    console.log("Selected Pincode:", pincode);
    console.log("Selected Landmark:", landmark);
  }
</script>


<script>
  
    function showNewAddressForm() {
      const newAddressForm = document.getElementById('newAddressForm');
      newAddressForm.style.display = 'block';
    }
  </script>