

<div class="wrapper">
		<div class="logo">
		<!-- <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt=""> -->
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5z1j4fLB5vtHtqFP5ukPMpP0W9TGNNCKPXBYy2NDlOd8ZA7gNO8rI8fFZFbww4vRFxNg&usqp=CAU" alt="">
	</div>
	
	<!-- <% if (typeof message !== 'undefined') { %>
          
		<div
		  class="alert alert-<%= message.type === 'success' ?'success' : 'danger' %>"
		  role="alert">			  
				<%= message.body %>		    
		</div>
		<% } %> -->
		


	<% if (typeof message !== 'undefined') { %>
		<p style="color: orange;"><%= message %></p>
	   <% } %>
	<div class="text-center mt-4 name">
		Sign Up
		
	</div>
	
	<form action="/register" method="post" class="p-3 mt-3">
		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<input type="text" name="name" id="userName" placeholder="Username" required>
		</div>
		<div class="form-field d-flex align-items-center">
			<span class="fas fa-key"></span>
			<input type="email" name="email" id="email" placeholder="Email address" required>
		</div>
		
		<div class="form-field d-flex align-items-center">
			<span class="fas fa-key"></span>
			<input name="mobile"  type="text" id="form3Example6" inputmode="numeric" class="form-control form-control-lg"
                placeholder="Mobile Number" required  maxlength="10" autocomplete="mobile" pattern="\d{10}"/>
			<!-- <input type="text" name="phone" id="mobile" placeholder="Mobile number"> -->
		</div>
		<div class="form-field d-flex align-items-center">
			<span class="fas fa-key"></span>
			<input type="password" name="password" id="form3Example4" placeholder="Password" maxlength="6" required >
		
		</div>
		<!-- <span id = "message" style="color:red"> </span> -->
		<div class="form-check mb-0 text-reset" >
			<input class="form-check-input me-2" type="checkbox" value="" id="exampleCheck1" />
			<label class="form-check-label text-center fs-6" for="form2Example3">
			  Show Password
			</label>
		  </div>
		<!-- <div class="form-field d-flex align-items-center">
			<span class="fas fa-key"></span>
			<input type="password" name="password" id="pwd" placeholder="Password">
		</div> -->
		<!-- <% if (locals.error ) { %> -->
			<!-- <label for="errormessage" class="text-danger"> -->
			 <!-- <%= error%></label>
			 
			<% } %> -->
		<button type="submit" class="btn mt-3">Register</button>
	</form>
	<div class="text-center fs-6">
		<a href="/forgot-password">Forget password?</a> or <a href="login">Login</a>
	</div>
	
	<% if(typeof alert != 'undefined') { %>
		<% alert.forEach(function(error) { %>
			<div class="alert alert-warning alert-dismissible fade show text-danger" role="alert">
				<%= error.msg %>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
		<% }) %>
	<% } %> 
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	console.log("moment  : ",moment().format("DD MM YYYY HH:MM:SS"));
	document.getElementById('exampleCheck1').addEventListener('change', () => {
		let form3Example4 = document.getElementById('form3Example4');
		
		if (form3Example4.getAttribute('type') == 'password' ) {
		  form3Example4.setAttribute('type', 'text');
		  form3Example5.setAttribute('type', 'text');
		} else {
		  form3Example4.setAttribute('type', 'password');
		  form3Example5.setAttribute('type', 'password');
		}
	})
// 	function checkpwdLength(){
// 		let pwdValue=document.getElementById('form3Example4').value;
//   console.log(pwdValue);
//     if(pwdValue.length<6){
// 		document.getElementById("form3Example4").innerHTML = "**Password must be atleast 6 characters";  

// return false;  

// } else {  

// alert("Password is correct");  

// }  
// 	}
  </script>